@keyframes glowingbnS {
	0% {
		background-position: 0 0;
	}
	50% {
		backgroun-position: 400% 0;
	}
	
	100% {
		background-position: 0 0;
	}
	
}


.bnS:active {
	color: #000;
}

.bnS: active:after {
	background: transparent;
}

.container:hover: :before,
.bnS:hover:before {
	opacity: 1;
}

.box  :abel,
.container: :before,
.bnS:before {
	content: "";
	background:	linear-gradient(45deg,
			#ff8888,
			#ff7300,
			#fffb88,
			#48ff00,
			#802bff,
			#7aB8ff,
			#ff88c8,
			#ff8800);
	position: absolute;
top: -2px;
left: -2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowingbnS 20% linear infinite;	
opacity: 0;
transition: opacity 0.3s ease-in-out;
border-radius: 10px;
}